* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    zoom: 0.9;
}
html {
    font-size: 24px;
}

html,
 body {
     height: 100%;
     width: 100%;

}

body {
    font-family: "Roboto", sans-serif;
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

}

.feature {
position: absolute;
top: 50%;
left: 50%;
transform: translate( -50% , calc(-50% - 6.25rem));
z-index: 100;
display: flex;  
flex-direction: column;
align-items: center;

}

.feature__circles {
    display: flex;
    align-items: center;
    transform: translateX(-5.25rem);

    


}


.feature__circle {
    border-radius: 50%;
    background: #3d3d47;
    margin: 0 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.feature__circle:nth-child(1) {
    height: 8.75rem ;
    width: 8.75rem ;
    background-image: url(./wood-texture-1.jpg);
}
.feature__circle:nth-child(2) {
    height: 12.5rem ;
    width: 12.5rem ;
    background-image: url(./wood-texture-2.jpg);

}

.feature__title {
 font-weight: 900;
 font-size: 9rem;
 letter-spacing: 0.025em;
 color: #884636;
}

.feature__title span {

    color: #3d3d47;
}

.col-1 {
    background-color: #e9e9e9;
    position: relative;  
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1 / span 1; 

}

.nav {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 13.75rem;
    width: 8.125rem;
    height: 13.75rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: all 0.3s ease;
} 



.nav--active {
    opacity: 1;
    top: 0;
    width: 50%;
    height: 100%;
}

.nav__item {
    opacity: 0;
    text-decoration: none;
    color: #3d3d47;
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem;
    transition: color 0.3s ease;
}

.nav__item:hover,
.nav__item:focus {
    color: #884636;

}

.nav__item:focus {
    outline: 1px solid #884636;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav--active .nav__item {
    animation: fade 1s ease 0.2s forwards;

}
 
.hamburger {
    position: absolute;
    left: 0;
    top: 13.75rem;
    width: 8.125rem;
    height: 13.75rem;
    background-color: #fff;
    display: flex;
    
    justify-content: center;
    align-items: center;
    z-index: 200;
    transition: all 0.3s ease;

}


.hamburger__button {
    position: relative;
    cursor: pointer;
    padding: 2rem;
    z-index: 300;


}


.hamburger__button:focus {
    outline: 1px solid #884636;
}

.hamburger__line {
    position: absolute;
    width: 2.25rem;
    height: 0.15rem;
    background-color: #272727;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;


}


.hamburger__line:nth-child(1) 
{
    top: calc(50% - 0.375rem);

}
.hamburger__line:nth-child(2) 
{
    top: calc(50% + 0.375rem);
    
}

.col-1__header {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;

}

.col-1__subtitle {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.14rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #414046;
    margin: 0.5rem 0;
}

.col-1__copy {
    font-size: 1rem;
    line-height: 1.15rem;
    font-weight: 400;
    color: #414046;
    margin: 0.5rem 0;
}

.col-2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    grid-column: 2 / span 1;

}

.col-2__num {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    color: #272727;
    position: absolute;
    display: flex;
    align-items: center;
    top: 6.25rem;
    right: 0;

}

.col-2__num::after {
    content: "";
    height: 0.125rem;
    width: 2.5rem;
    background: #272727;
    margin-left: 3rem;

}

.col-2__content{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.col-2__header {
    width: 40%;
    text-align: right;
    margin-right: 5rem;
}

.col-2__title {
    font-family: "Poppins", sans-serif;
    font-size: 1.15rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #272727;
}

.col-2__copy {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: #414046 ;
}

.col-2__images {
    width: 100%;
    display: grid;
    grid-template-columns: 12rem 10rem 10rem;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.col-2__image {
    border-radius: 0.75rem;
    background: #3d3d47;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.col-2__image:nth-child(1) {
    height: 15rem;
    background-image: url(./chisel.jpg);


}

.col-2__image:nth-child(2) {
    height: 12.5rem;
    background-image: url(./hammer.jpg);


}

.col-2__image:nth-child(3) {
    height: 12.5rem;
    background-image: url(./workshop.jpg);


}



.mobile__title,
 .mobile__circles {
    display: none;

}

.mobile__title {
    font-weight: 900;
        font-size: 2.25rem;
        letter-spacing: 0.025rem;
        color: #884636;
        margin: 0.5rem 0;
}
.mobile__title span {
    color: #3d3d47;
}   
.mobile__circles {
    position: absolute;
    top: 3rem;
    left: 3rem;
}

.mobile__circle {
    background: #3d3d47;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin: 0 1rem;     
}


.mobile__circle:nth-child(1){
    background-image: url(./wood-texture-1.jpg);
}
.mobile__circle:nth-child(2){
    background-image: url(./wood-texture-2.jpg);
}
 
@media  only screen and (max-width: 1800px) {
 html {
     font-size: 20px;
 }
     
}

@media  only screen and (max-width: 1500px) {
    html {
        font-size: 18px;
    }
    .feature__title {
        font-size: 7rem;
    }
   }



@media only screen and (max-width: 1200px) {
    .nav, 
    .hamburger {
        top: 0;
        width: 5rem;
        height: 5rem;
    }

    .nav--active {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .feature {
        display: none;

    }
    .mobile__title {
        display: initial;
        

    }
    


  
    .mobile__circles {
        display: flex;
        

    }
    .mobile__circle {
        display: initial;
    }

    .col-1, 
    .col-2 {
        grid-column: 1 / span 2 ;
    }

    .col-1__header {
        justify-content: center;

    }

    .col-2__num {
        position: initial;
        margin-left: auto;
    }
    .col-2__content {
        justify-content: unset;
    }

}


@media only screen and (max-width: 660px) {
    .mobile__circles {
        display: none;
    }
    
    .nav--active {
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    .nav,
    .hamburger {
        left: auto;
        right: 0;
        width: 4rem;
        height: 4rem;
    }
 
    .hamburger__line {
        width: 1.75rem;
        height: 0.15rem;
    }

    .col-1__header {
        padding: 4rem;
        width: 100%;
    }
    

    .col-2 {
        align-items: stretch;
    }


    .col-2__content {
        height: 80%;
    }

    .col-2__header {
        width: 70%;
        padding: 1rem 0;
        margin-right: 2rem;

    }


    .col-2__images {
        grid-template-columns: 1fr;
    }


    .col-2__image {
        grid-column: 1 / span 1;
    }


    .col-2__image:nth-child(n) {
        height: 12.5rem;
    }

  


}


@media only screen and (max-width: 800px) and (max-height: 865px  ) {
    .mobile__circle {
        height: 5.5rem;
        width: 5.5rem;
    }
}